/* Always use SASS like selector nesting to improve readability!
   See http://sass-lang.com/ for further information */

/* ----- GLOBAL ----- */

body {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    background: #efefef; }

/* used for private layout */
#doc4 {
    width: 1145px;
    background: #fff;}

/* used for public layout */
#doc5 {
    width: 1024px;
    background: #fff;
}

#hd {
    height: 87px;
    background: url(../../images/lernardo-logo.png) #fff no-repeat 15px 15px;
    position: relative;
    /*-moz-box-shadow: #888 0px -4px 8px;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;*/ }
    #hd #info {
        text-align: right;
        float: right;
        margin: 10px 15px 0 0; }
        #hd #info a {
            font-weight: bold; }
    #hd #logo {
        width: 210px;
        height: 87px;
        float: left; }

#bd {
    background: #fff;
    padding: 10px 5px;
    /*-moz-box-shadow: #888 0px 4px 8px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;*/ }

#ft {
    font-size: 10px;
    background: #e2dbc8; /*#d9d9d9;*/
    clear: both;
    text-align: center;
    padding: 10px;
    /*border-top: 1px solid #fff;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    -moz-box-shadow: #888 0px 4px 8px;*/}
    #ft a {
        color: #29957d; }

.strong {
    font-weight: bold; }

.italic {
    font-style: italic;
    color: #555; }

.glossary {
    margin: 0 0 10px 0;
    font-size: 11px; }

.gray {
    color: #666; }

.red {
    color: #d00; }
}

.green {
    color: #0d0; }

.notEnabled {
    color: #f44; }

.toolTip {
    /*border: 1px solid #4d4;*/
    /*-moz-border-radius: 4px;*/
    background: #5e5;
    /*-padding: 5px;*/
    margin: 0 0 15px 0;
    /*-moz-box-shadow: #aaa 2px 2px 4px;*/ }
    .toolTip .second {
        padding: 5px;
        /*border: 1px solid #bfb;*/
        /*-moz-border-radius: 4px;*/
    }

.spacer {
    clear: both; }

/* ----- NAVIGATION -----*/

#nav {
    float: right;
    position: absolute;
    bottom: 0;
    right: 15px;
    font-family: Arial, 'Times New Roman', serif;}
    #nav ul {
        list-style: none;
        padding: 0; }
    #nav li {
        display: inline;
        float: left;
        margin: 0; }
        #nav li a {
            /*background: #FFF url(../images/menu-li.jpg) no-repeat scroll 0 0;*/
            color: #535353;
            font-size: 16px;
            display: block;
            float: left;
            height: 25px;
            line-height: 25px;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            font-weight: bold;
            width: 131px; }
        #nav li a:hover {
            color: #FFF;
            background: #9ede20;
            text-decoration: none !important;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            /*-moz-box-shadow: #000 0px 0 4px;*/ }

/* ----- FONTS ----- */

.bold {
    font-weight: bold;
    padding-bottom: 3px;}

.titles {
    width: 140px; }

.titles2 {
    width: 250px; }

.bezeichnung {
    border-bottom: 1px dotted #999;
    padding: 5px 0;
    text-align: left;
    vertical-align: top; }

.separator {
    border-bottom: 1px dashed #999;
    padding-bottom: 5px; }

a {
    color:#29957d; /*color:#f45f00;*/
    text-decoration: none; }
a:hover {
    text-decoration:underline; }

/* used for ajax element headers */
h5 {
    color: #444;
    font-size: 18px;
    font-weight: normal;
    margin: 0.8em 0 0.3em;
    padding: 5px;
    background: #ccc; }

h1 {
    color: #444;
    font-size: 20px;
    font-weight: normal;
    margin: 0.8em 0 0.3em;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc; }

h2 {
    padding-bottom: 10px;
    font-size: 120%;
    font-weight: bold; }

/*use for leistungsfortschritt*/
h3 {
    color: #444;
    font-size: 20px;
    font-weight: normal;
    margin: 0.8em 0 0.3em;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc; }

h1 .subheader {
    font-size: 12px;
    margin-bottom: 15px;
}

p {
    padding-bottom: 10px;
    line-height: 19px; }

ul {
    padding-bottom: 10px; }
    ul li {
        list-style-type: disc;
        margin-left: 15px;
        line-height: 19px; }

/* ----- PRIVATE ----- */

.element-box {
  border: 1px solid #999;
  background: #eee;
  padding: 5px;
  margin: 5px;
}

.cal_navigation ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px; }

.imgbox {
   margin-top: 15px;
    text-align: center; }
    .imgbox img {
        overflow: hidden;
        border: none;
        width: 48px;
        height: 48px; }
    .imgbox h3 {
        text-align: center;
        left: 0;
        color: #000;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 0; }
        .imgbox h3 a {
            color: #000; }
        .imgbox h3:hover {
            text-decoration: underline; }
    .imgbox .current img {
        -moz-opacity: 1.0; } /* "opacity" alone is a CSS3 keyword - not standardized yet */
    .imgbox .current h3 {
        display: block;
        font-weight: bold; }

#private {
    /*background:url(../images/background_private.jpg) repeat-x;*/ }
/*
#private a {
    color: #3b59bb;
}
*/

#banner {
    height: 115px;
}

#banner-private {
    height: 100px;
    /*background: -moz-linear-gradient(90deg,#3995d0,#2ca8d2); BLUE
    background: -webkit-gradient(linear, left top, left bottom, from(#3995d0), to(#2ca8d2));*/
    background: -moz-linear-gradient(90deg,#8adc2e,#9ede20);
    background: -webkit-gradient(linear, left top, left bottom, from(#8adc2e), to(#9ede20));
    margin: 0 15px;
}

#profile-pic {
    text-align: center;
    margin-bottom: 15px; }
    #profile-pic #picture {
        /*-moz-box-shadow: #aaa 2px 2px 4px;*/
        /*border: 1px solid #888;*/
        border-top: none;
        border-bottom: none;
        width: 180px;
        margin: 0 auto;
        margin-top: 3px;}
    #profile-pic .name {
        /*-moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;*/
        /*border: 1px solid #345CA4;*/
        /*-moz-box-shadow: #aaa 2px 2px 4px;*/
        background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6;
        color: #fff;
        width: 180px;
        margin: 0 auto; }
        #profile-pic .name .second {
            /*border: 1px solid #89aee9;*/
            padding: 3px 4px;
            /*-moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;*/ }
    #profile-pic .type {
        /*-moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;*/
        /*border: 1px solid #345CA4;*/
        /*-moz-box-shadow: #aaa 2px 2px 4px;*/
        background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6;
        color: #fff;
        width: 180px;
        margin: 0 auto; }
        #profile-pic .type .second {
            /*border: 1px solid #89aee9;*/
            padding: 3px 4px;
            /*-moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;*/ }

.profile-group {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background: -moz-linear-gradient(-90deg,#dedede,#bcbcbc) #bcbcbc; /*#dfdfdf*/
    border: 1px solid #9a9a9a;
    border-bottom: none;
    font-weight: bold;
    margin: 15px 0 0 5px;
    text-align: center;
    width: 120px;
    color: #333;
    -moz-box-shadow: #aaa 2px 2px 4px;}
    .profile-group:hover {
        background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6; /*#dfdfdf*/
        border: 1px solid #55e;
        border-bottom: none;
        cursor: pointer;
        color: #fff; }
    .profile-group .second {
        padding: 2px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border: 1px solid #efefef;
        border-bottom: none; }
    .profile-group .second:hover {
        border: 1px solid #ccf;
        border-bottom: none; }

.profile-box {
    color: #7b7b7b;
    /*-moz-border-radius: 5px;*/
    /*background-color: #dfdfdf;*/
    background: #EFEFEF;
    /*border: 1px solid #999;*/
    /*-moz-box-shadow: #aaa 2px 2px 4px;*/
    margin-bottom: 15px; }
    .profile-box .second {
        padding: 5px;
        /*-moz-border-radius: 5px;*/
        /*border: 1px solid #efefef;*/ }
    .profile-box .second .header {
      border-bottom: 1px solid #7b7b7b;
      font-weight: bold;
      padding-bottom: 3px;
      text-align: center;
    }
    .profile-box .second ul {
        margin: 3px 0 0 0;
        padding: 0; }
        .profile-box .second ul li {
            list-style-type: none;
            color: #333;
            margin: 0; }
        .profile-box .second ul li a:hover {
            text-decoration: none; }

#private-content {
    padding: 10px; }

.headerBlue {
    background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6;
    /*background: #567EC6;*/
    /*-padding: 4px 5px;*/
    /*-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border: 1px solid #345CA4;
    -moz-box-shadow: #aaa 2px 2px 4px;*/ }
    .headerBlue h1 {
        color: #fff;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .headerBlue .second {
        /*border: 1px solid #89aee9;*/
        padding: 4px 5px;
        /*-moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;*/
    }

.boxGray {
    /*-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;*/
    background: #EFEFEF;
    /*-padding: 5px;*/
    margin-bottom: 10px;
    /*border: 1px solid #888;*/
    color: #333;
    /*-moz-box-shadow: #aaa 2px 2px 4px;*/
    border-top: none}
    .boxGray .second {
        /*border: 1px solid #fff;*/
        padding: 5px;
        /*-moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;*/
        border-top: none};


#newHelper {
    float: right; }

.helperButton {
    border: 1px solid #f33;
    background: #f66;
    font-size: 10px;
    padding: 1px;
    margin-left: 5px;
    color: #fff; }
    .helperButton:hover {
        border: 1px solid #f11;
        background: #f44;
        text-decoration: none; }

#profile-content {
    background-color: #dfdfdf;
    border: 1px solid #ccc;
    padding: 5px 10px 15px 10px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    color: #333; }
#profile-content h1 {
    margin: 0 0 17px 0;
    padding: 0 0 3px 0;
    color: #555; }
#private-content input, #private-content select, #private-content textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 0 4px 0;
    border: 1px solid #999;
    padding: 2px;
}
#private-content input.errors, #private-content textarea.errors, #private-content select.errors {
    border: 1px solid #f00;
}
#private-content input:hover, #private-content select:hover, #private-content textarea:hover {
     border: 1px solid #666;
}

#profile-navigation {
    padding: 10px 10px 0 10px; }
    #profile-navigation a {
        text-decoration: none; }
        #profile-navigation a:hover {
            color: #000; /*#46597B; */ }

    #profile-navigation .profile-profil {
        background: url(../../images/icons/icon_profile.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-nachricht {
        background: url(../../images/icons/icon_mail.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-telefon {
        background: url(../../images/icons/icon_handy.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-leistung {
        background: url(../../images/icons/icon_star.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-netzwerk {
        background: url(../../images/icons/icon_contact.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-galerie {
        background: url(../../images/icons/icon_galerie.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-activities {
        background: url(../../images/icons/icon_activities.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-calendar {
        background: url(../../images/icons/icon_calendar.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-location {
        background: url(../../images/icons/icon_location.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .profile-template, .profile-template {
        background: url(../../images/icons/icon_template.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .icon-person {
        background: url(../../images/icons/icon_person.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .icon-edit {
        background: url(../../images/icons/icon_edit.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .icon-help {
        background: url(../../images/icons/icon_help.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .icon-admin {
        background: url(../../images/icons/icon_admin.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .icon-news {
        background: url(../../images/icons/icon_news.png) 0 50% no-repeat;
        padding-left: 20px; }
    #profile-navigation .icon-document {
        background: url(../../images/icons/icon_document.png) 0 50% no-repeat;
        padding-left: 20px; }
/* ----- ADMIN ----- */

#adminArea {
    text-align: left; }

#adminArea h1 {
    background: #f92;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin: 0;
    color: #333; }

#adminArea h3 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #ee0;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    font-size: 13px; }

#adminArea h2, #adminArea ul, #adminArea p {
    padding: 10px; }

#adminArea .table {
    margin: 10px; }
    #adminArea .table td {
        padding: 4px;
    }

#adminArea .adminButton {
    color: #f70; }

#admin-content {
    padding: 5px 10px 10px 10px;
    margin: 10px;
    color: #333; }
    #admin-content h1 {
        margin: 0;
        padding: 0 0 15px 0;
        color: #555; }

#admin-navigation {
    padding: 10px; }

.imgmenu {
    background-position: right;
    height: 115px;
    float: left;
    margin-right: 0;
    list-style-type: none;
   }
    .imgmenu ol {
      margin: 0;
      padding: 0; }
      .imgmenu li {
          float: left;
          padding: 0 0 0 0;
          width: 120px}
          .imgmenu li a {
              color: #222;
              text-decoration: none; }
              .imgmenu li a:hover {
                  color: #aaa; }

/* ----- PUBLIC ----- */

#public {
    /*background: url(../images/background_public.jpg) repeat-x;*/ }
    #public #banner {
        height: 149px;
        /*width: 974px;*/
        background: #fff url(../../images/lernardo-banner.png) 15px 0 no-repeat;}
    #public #sidebar {
        margin: 0 0; }
    #public #main {
        /*margin: 20px 0;*/
        padding: 0 15px 0 0;
        /*border-right: 1px solid #CCC;*/
        line-height: 18px;
        /*width: 655px;*/ }
        #public #main h1 {
            margin-bottom: 15px; }
        #public #main h2 {
            margin: 5px 15px 5px 0;
            padding: 10px 0 5px 0;
            border-bottom: 1px solid #ccc;
            width: 100%;
            text-decoration: none; }
    #public .note {
        font-size: 10px; }
    #public .highlight {
        font-weight: bold; }
    #public .login-form-button {
        margin-top: 10px;
        float: left; }
    #public #forgot-pwd {
        padding: 14px 0 0 90px;
        height: 21px;
        width: 150px;
        margin-top: 6px; }

.sidebox {
    /*-moz-border-radius: 5px;*/
    background: #f0f0f0;
    /*border: 1px solid #7b7b7b;*/
    margin: 0 0 10px 15px;
    color: #7b7b7b;
    /*-moz-box-shadow: #555 3px 3px 4px;*/ }
    .sidebox a {
        color: #29957d; }
    .sidebox a:hover {
        text-align: left;
        overflow: visible;
        font-weight: bold;
        text-decoration: none; }

.innersidebox {
    /*background: url(../images/gradient_1.png) repeat-x bottom;*/
    background: #f0f0f0;
    /*border: 1px solid #708dc2;*/
    /*-moz-border-radius: 5px;*/
    padding: 5px 10px 10px 10px; }

.sideboxheader {
    border-bottom: 1px solid #7b7b7b;
    font-weight: bold;
    padding-bottom: 3px;
    text-align: center; }

.sideboxcontent {
    padding-top: 10px;
    /*border-top: 1px solid #5c77a6;*/ }
    .sideboxcontent ul {
        margin-left: 10px; }
        .sideboxcontent ul li {
            margin: 0 0 3px 5px;
            list-style-type: disc; }

.quoter {
    margin: 7px 0 0 0;
    padding: 0;
    text-align: right; }

.quote {
    font-style: italic;
    line-height: 18px; }

/* ----- REGISTER ----- */

#registerbox table td {
    padding: 5px;
    text-align: right;
    width: 150px; }

/* ----- TABLES ----- */

.listing {
    width: 100%;
}
.listing tr {
    border-bottom: 1px dotted #999;
}
.listing td {
    padding: 4px;
}
.listing td.name {
    width: 125px;
    font-weight: bold;
}
.row-educator {
    background: #ececff; }

.row-client {
    background: #ffb2b2; }

.row-facility {
    background: #b2ffb2; }

.row-operator {
    background: #ffffb2; }

.row-user {
    background: #ffecc1; }

.row-parent {
    background: #cb89c9; }

.row-pate {
    background: #cb89c9; }

.row-partner {
    background: #cb89c9; }

.odd {
    background: #f4f4f4; }

.even {
    background: #fff; }

/* ----- LIST and TABLE overrides ----- */

.default-table {
    border: 1px solid #bbb;
    width: 100%; }
    .default-table td {
        padding: 5px; }
        .default-table td a {
            color: #141;
            text-decoration: none;
        }
        .default-table td a:hover {
            color: #272;
            text-decoration: underline;
        }
    .default-table th {
        background: #ccd;
        color: #333;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 17px;
        padding: 2px 6px; }
        .default-table th a {
            color: #333;
            display: block;
            font-size: 11px;
            text-decoration: none;
            width: 100%; }
        .default-table th:hover {
            background: #bbc;
        }
        .default-table th.asc a, th.desc a {
            background-position: right;
            background-repeat: no-repeat; }
        .default-table th.asc a {
            background-image: url(../../images/skin/sorted_asc.gif); }
        .default-table th.desc a {
            background-image: url(../../images/skin/sorted_desc.gif); }
    .default-table tr {
        font-size: 11px;
        border: 1px solid #999;}
    .default-table tr.odd {
        background: #eef; }
    .default-table tr.even {
        background: #fef; }

table .label {
    height: 25px;
    padding-right: 10px; }

label {
    padding-right: 5px;
}
#body-list {
    padding: 0; /*px 10px 10px 10px;*/
    /*background: #f0f0f0;*/ }
    #body-list table {
        border: 1px solid #bbb;
        width: 100%; }
        #body-list table tr a {
            /*color: #333;*/
            text-decoration: none; }
            #body-list table tr a:hover {
                /*color: #333;*/
                text-decoration: underline; }
        #body-list table tbody a {
            /*color: #03f;*/ }
    #body-list td {
        padding: 5px; }
        #body-list td .col {
            /*width: 200px;*/ }
        #body-list td .col2 {
            /*width: 150px;*/ }
        #body-list td .col4 {
            width: 150px; }
    #body-list .list th, .list td {
        border-left: 1px solid #ddd; }
    #body-list th {
        background: #Fd4 /*url(../images/skin/shadow.jpg) repeat scroll 0 0*/;
        color: #333;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 17px;
        padding: 2px 6px; }
        #body-list th a:link, #body-list th a:visited {
            color: #333;
            display: block;
            font-size: 11px;
            text-decoration: none;
            width: 100%; }
        #body-list th:hover {
            background: #bbb;
            color: #fff;
        }
        #body-list th.asc a, th.desc a {
            background-position: right;
            background-repeat: no-repeat; }
        #body-list th.asc a {
            background-image: url(../../images/skin/sorted_asc.gif); }
        #body-list th.desc a {
            background-image: url(../../images/skin/sorted_desc.gif); }
    #body-list tr {
        font-size: 11px;
        border: 1px solid #999;}
    #body-list tr.odd {
        background: #eef; }
    #body-list tr.even {
        background: #fef; }
    #body-list #select-box {
        margin-bottom: 10px; }

table #profile-list tr {
    border: 1px solid #ccc; }

/* PAGINATION */

.paginateButtons {
    background: #ccd /*url(../../images/skin/shadow.jpg) bottom repeat-x*/;
    border: 1px solid #aaa;
    border-top: none;
    color: #666;
    font-size: 11px;
    overflow: hidden;
    padding: 10px 3px;
    margin-bottom: 5px; }
    .paginateButtons a {
        background: #fff;
        border: 1px solid #999;
        color: #666;
        margin: 0 3px;
        padding: 2px 6px; }
    .paginateButtons a:hover {
        text-decoration: none;
        background: #393;
        color: #fff;
        border: 1px solid #060; }
    .paginateButtons span {
        padding: 2px 3px; }

.paginateButtonsPublic {
    color: #666;
    font-size: 11px;
    overflow: hidden;
    padding: 10px 3px;
    margin-bottom: 5px; }
    .paginateButtonsPublic a {
        /*color: #666;*/
        margin: 0 3px;
        padding: 2px 6px; }
    .paginateButtonsPublic span {
        padding: 2px 3px; }

/* ----- ARTICLES ----- */

#createArticle {
    margin: 10px 0; }

#article-container { }
    #article-container h1 {
        color: #7e7e7e;
        font-size: 20px;
        margin-bottom: 30px; }
    #article-container .createArticle {
        font-weight: bold; }
    #article-container .item {
        margin: 0 0 10px 0;
        border-bottom: 1px dashed #ccc;
        padding: 0; }
        #article-container .item .links {
            text-align: right;
            padding: 0 0 5px 0;
            font-size: 11px; }
        #article-container .item .header {
            margin-right: 10px;
            font-weight: bold;
            color: #000;
            font-size: 13pt; }
            #article-container .item .header a {
                color: #444; }
                #article-container .item .header a:hover {
                    color: #29957d;
                    text-decoration: none; }
        #article-container .item .header .adminlink {
            font-weight: bold;
            color: #29957d; }
        #article-container .item a {
            /*color: #46597B;*/ /*#7e7e7e;*/
            text-decoration: none; }
            #article-container .item a:hover {
                text-decoration: underline; }
        #article-container .item .info {
            font-weight: normal;
            padding: 0 0 5px 0;
            color: #7e7e7e;
            font-size: 10px; }
        #article-container .item .info a {
            border-bottom: 1px dashed #999; }
        #article-container .item .teaser {
            padding: 5px 0 0 0;
            margin: 0;
            color: #5a5a5a; }
            #article-container .item .teaser p {
                line-height: 19px; }
            #article-container .item .content {
                margin: 0;
                padding: 5px 0 5px 0;
                line-height: 19px; }

/* ----- GLOBAL ACTION LINKS ----- */

.adminlink {
    font-weight: bold;
    color: #a00; }

.actionlinks { }
    .actionlinks div.userlinks {
        margin: 0 0 10px 0; }
    .actionlinks a {
        color: #fff;
        font-size: 10px;
        text-decoration: none; }
        .actionlinks a:hover {
            text-decoration: underline; }

div.actionlinks div.userlinks a {
    color: green;
    font-size: 1em; }
    div.actionlinks div.userlinks a:hover {
        text-decoration: underline }

.actionlink {
    margin-bottom: 10px;
}

#private-content input[type=submit], input[type=submit] {
    background: -moz-linear-gradient(-90deg,#090,#060);
    background: -webkit-gradient(linear, left top, left bottom, from(#090), to(#060));
    border: 1px solid #060;
    padding: 4px 5px !important;
    margin: 5px 5px 0 0 !important;
    text-align: center;
    float: left;
    color: #fff !important;
    display: block;
    font: 12px verdana; }
    #private-content input[type=submit]:hover, input[type=submit]:hover {
        background: -moz-linear-gradient(-90deg,#070,#040);
        background: -webkit-gradient(linear, left top, left bottom, from(#070), to(#040));
        border: 1px solid #040;
        text-decoration: none;
        cursor: pointer; }

.buttonBlue {
    background: -moz-linear-gradient(-90deg,#009,#006);
    background: -webkit-gradient(linear, left top, left bottom, from(#009), to(#006));
    border: 1px solid #006;
    padding: 4px 5px;
    margin: 5px 5px 0 0;
    text-align: center;
    float: left;
    color: #fff !important;
    display: block;
    height: 16px; }
    .buttonBlue:hover {
        background: -moz-linear-gradient(-90deg,#007,#004);
        background: -webkit-gradient(linear, left top, left bottom, from(#007), to(#004));
        border: 1px solid #004;
        text-decoration: none; }

.buttonGreen {
    background: -moz-linear-gradient(-90deg,#090,#060);
    background: -webkit-gradient(linear, left top, left bottom, from(#090), to(#060));
    border: 1px solid #060;
    padding: 4px 5px;
    margin: 5px 5px 0 0;
    text-align: center;
    float: left;
    color: #fff !important;
    display: block;
    height: 16px; }
    .buttonGreen:hover {
        background: -moz-linear-gradient(-90deg,#070,#040);
        background: -webkit-gradient(linear, left top, left bottom, from(#070), to(#040));
        border: 1px solid #040;
        text-decoration: none; }

.buttonGray {
    background: -moz-linear-gradient(-90deg,#999,#666);
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#666));
    border: 1px solid #666;
    padding: 4px 5px;
    margin: 5px 5px 0 0;
    text-align: center;
    float: left;
    color: #fff !important;
    display: block;
    height: 16px; }
    .buttonGray:hover {
        background: -moz-linear-gradient(-90deg,#777,#444);
        background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#444));
        border: 1px solid #444;
        text-decoration: none; }

.buttonRed {
    background: -moz-linear-gradient(-90deg,#900,#600);
    background: -webkit-gradient(linear, left top, left bottom, from(#900), to(#600));
    border: 1px solid #600;
    padding: 4px 5px;
    margin: 5px 5px 0 0;
    text-align: center;
    float: left;
    color: #fff !important;
    display: block;
    height: 16px; }
    .buttonRed:hover {
        background: -moz-linear-gradient(-90deg,#700,#400);
        background: -webkit-gradient(linear, left top, left bottom, from(#700), to(#400));
        border: 1px solid #400;
        text-decoration: none; }

.activity-list-head {
    padding-top: 6px;
}

#newTemplate {
    border: 1px solid #333;
    background: #666;
    padding: 5px;
    margin: 10px;
    width: 210px;
    text-align: center; }
    #newTemplate a {
        color: #fff; }

.label {
    width: 125px; }

/* ----- MESSAGING -----  */

table#msg-composer td {
    padding: 3px 5px;
}

/*table#msg-composer input[type=text], table#msg-composer textarea {
    width: 100%;
}*/

#inbox-message-overview.message-rows {
  border-collapse: collapse;
  width: 100%;
}

.show-msg td.msg-title {
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
}

.show-msg td.msg-name {
  padding: 5px 0;
}

.show-msg td.msg-content {
  border-top: 1px solid #999999;
  width: 645px;
  height: 100px;
  margin-top: 10px;
  padding-top: 10px;
}

#inbox-message-overview.message-rows tr td {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 5px;
}

.message-rows .checkbox-toggle {
  width: 35px;
}

.message-rows .checkbox-toggle input{
  margin-left: 8px;
}

.message-rows .profile-pic {
  line-height: 1px;
  width: 50px;
}

.message-rows td.name-date {
  width: 150px;
}

.message-rows .name-date .name {
  width: 170px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 20px;
}

.message-rows .name-date .date {
  color: #777777;
  display: block;
  font-size: 11px;
  padding: 1px 0 0;
}

.message-rows .name-date .state {
  color: #AA0000;
  font-size: 11px;
  padding: 1px 0 4px;
  font-weight: bold;
}

.message-rows .msg-unread {
  background-color: #d5dce0;
  /*width: 630px;*/
}

.message-rows .msg-unread .subject{
  font-weight: bold;
}

.message-rows .subject {
  margin-right: 10px;
}

.message-rows .subject .subject-text {
  padding-left: 22px;
}

.message-rows .delete-msg {
  width: 80px;
  font-size: 11px;
  text-align: right;
}

.message-rows .delete-msg a {
  margin-right: 8px;
}

.info-msg-postbox {
  padding:5px;
  color: #606060;
  text-align: left;
}

#inbox-footer {
  /*background: #eeeeee;*/
  margin-top: -1px;
  padding: 3px 0 2px;
  height: 15px;
}

.pager-container {
  float: right;
  margin: 0 0;
  text-align: right;
  width: 200px;
  padding-right: 15px;
}

.pager-container .page-list li {
  display: inline;
}

#inbox-footer .pager-container .page-list a.current,
#inbox-footer .pager-container .page-list a.current:hover {
  border-bottom:2px solid #89b7da;
  font-weight: bold;
}

/* ----- MEMBERS ----- */

.search-field {
    margin-bottom: 15px;
}

.member {
    padding: 5px 0;
    width: 270px;
    height: 50px;
    float: left;
}

.member img {
    margin-right: 10px;
}

.member .member-info .member-name {
    font-weight: bold;
}

/* ----- BUTTONS ----- */

.nav-button {
    border:1px solid #999999;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    margin:0 0 5px;
    padding:3px 5px;
    background-color: #f0f0f0;
}

.nav-button:hover {
    border:1px solid #666666;
}

.nav-button a {
    text-decoration: none;
    color: #666666;
}

.nav-button a:hover {
    text-decoration: none;
}

.buttons .button a {
  color: #000000 !important;
  text-decoration: none;
  font-size:12px;
  border:1px solid #999999;
  background-color: #f0f0f0;
  padding:3px 5px;
  cursor: pointer;
}

.buttons .button a:hover {
  color: #000000 !important;
  border:1px solid #000000;
}

.buttons {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0; }

.cleartop {
    margin: 2px 0 10px 0;
    border-top: 1px solid #ccc; }

/* ----- COMMENTS -----  */

.comment {
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    padding: 5px;
    margin-bottom: 10px; }
    .comment .userpic {
        margin-right: 5px;
    }
    .comment .infobar {
        border-bottom: 1px solid #ccc;
        padding-bottom: 4px; }
        .comment .infobar .name {
            font-size: 100%;
            font-weight: bold; }
        .comment .actions {
            float: right; }

.add-comment {
    margin: 10px;
    font-weight: bold;
    text-align: center; }

/* ----- ERRORS AND FLASH MSGS ----- */
.error {
  font-size: 150%;
  font-weight: bold;
}

.errors {
    color: #f00;
}

#errors {
    color: #f44;
    margin-bottom: 15px; }
    #errors ul li {
        list-style-type: disc; }

.errors input, .errors textarea {
    border:1px solid #ff6b22; }

#flash-msg {  
    padding: 10px;
    text-align: center;
    color: #606060;
    margin: 10px 10px;
    border: 1px solid #ff9933;
    background-color:#fff4f3; }

.info-msg {
    background-color:#efefef;
    border-color:#cccccc;
    border-style:solid;
    border-width:1px;
    padding: 5px 6px;
    color: #606060;
    margin-top: 10px; }

.myfriends .head, .myemployers .head, .mymemberships .head {
    font-weight: bold;
    font-size: 13px; 
    border-bottom: 1px solid #bbb; 
    padding-bottom: 2px;
    margin-bottom: 3px; }
	
/******************************************************************************************/

.vtop {
    vertical-align: top; }

.leistung-item {
    padding: 5px;
    margin-top: 10px;
    border-top: 1px solid #ccc; }
    .leistung-item td {
        padding: 3px; }

.headerGreen {
    background: -moz-linear-gradient(-90deg,#CD0041,#AB0020);
    background: -webkit-gradient(linear, left top, left bottom, from(#CD0041), to(#AB0020));
     }
    .headerGreen h1 {
        color: #fff;
        margin: auto 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .headerGreen .second {
        padding: 4px 5px;
    }
.headerGrey {
    background: -moz-linear-gradient(-90deg,#eee,#999);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
     }
    .headerGrey h1 {
        color: #000;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .headerGrey .second {
        padding: 4px 5px;
    }
	
.email {
	border: solid 1px #009900;
	padding: 8px 0 4px 10px ;
	background: #8c8; /*ccc*/
	margin-top: 6px;
	margin-bottom: 6px;
	height: 23px;
}

.email2 {
	border: solid 1px #009900;
	padding: 8px 0 4px 10px ;
	background: #8c8; /*ccc*/
	margin-top: 6px;
	margin-bottom: 6px;
	height: 47px;
}

.name {
	margin-bottom: 3px;
}

#jobType {
	width: 175px;}
	
.felder {
	background-color: #FFF;
	border: 1px solid #000;
	padding: 2.5px;}
	
#body-list th {
        background: #ccc;
        color: #333;
	}

#body-list .odd {
        background: #fff; }
		
.value-show-block {
	background-color: #FFF;
	border-right: 20px solid #efefef;
	border-bottom: 10px solid #efefef;
	padding: 3px;
}
.value-show {
	background-image:url(../../images/icons/value-show-short.png);
	background-repeat:repeat-x;
	border-right: 20px solid #efefef;
	border-bottom: 10px solid #efefef;
	padding: 3px;
}

	
.name-show {
	border-right: 20px solid #efefef;
	padding-top: 3px;
	padding-bottom: 3px;
	
	}
	
.profile-group {
    margin-top: 0;
}

/* overview screen */

.overview {
  padding: 0 10px;
}

.overview .box {
  border: 1px solid #bdbdbd;
  margin: 0 15px 15px 0;
  text-align: center;
  float: left;
  padding: 5px;
  background: #eee;
  height: 100px;
}

.overview .box:hover {
  border: 1px solid #bdbd9b;
  background: #fff;
}

h4 {
	color: #003300;
	font-size: 12px;
	font-weight:bold;
	margin: 4px 0;
	}

.contact {
	border: 1px solid #aaa; /* fff */
    /*background: #cdcdcd;*/
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	margin-bottom: 6px;}
	
.drop-down-280 {
	width: 280px;
	}
.drop-down-240 {
	width: 240px;
	}
.drop-down-205 {
	width: 205px;
	}
.drop-down-200 {
	width: 200px;
	}
.drop-down-210 {
	width: 210px;
	}
.drop-down-220 {
	width: 220px;
	}

.drop-down-150 {
	width: 150px;
	}
.liste-280 {
	width: 280px;
	height: 60px;
	}
.liste-300 {
	width: 300px;
	height: 35px;
	}
.liste-200 {
	width: 200px;
	height: 60px;
	}
.liste-210 {
	width: 210px;
	height: 60px;
	}
.liste-190 {
	width: 190px;
	height: 60px;
	}
#liste-200 {
	width: 200px;
	height: 65px;
	}
#liste-240 {
	width: 240px;
	height: 60px;
	}
#liste-450 {
	width: 450px;
	height: 60px;
	}
	
#drop-down-220 {
	width: 220px;
	}
.detail{
	float:left;
	width:100px}	

.gruppierung{
	width: 800px;
	clear:both;}

.hinweis  {
    background: #ccc;
    padding: 4px 5px;
    color: #ccc;
	font-size: 12px;
 }
.hinweis:hover {
        background: #666;
		color: #fff;
        text-decoration: none; }

.value {
	padding-top:1px;
	padding-bottom: 6px;
}
.prop li { list-style: none; }

.max-textbox {
	width: 790px;
	}
.zusatz {
    border: 1px solid #aaa; /*#fff;*/
    background-color: #eee;
    margin-top: 12px;}

.zusatz-add {
    padding: 6px 0 6px 6px;
}
.zusatz-show {
    background-color: #fff;
    margin: 6px;
    padding: 6px;
    border: 1px solid #ccc;
}
.zusatz-show ul {
   padding: 0;
}
.zusatz-show li {
    margin-left: 0;
}

.zusatz li { list-style: none; }
.zusatz a { color:#333; }

h5 {
    margin-top: 0;
    color: #003300;
	font-size: 12px;
	font-weight:bold;
    border-bottom: 1px solid #aaa; /* #fff */
    padding-bottom: 6px;
}

.buttons {
    /*padding-bottom: 6px;*/
    /*border-bottom: 2px solid #fff;*/
    margin-bottom: 20px;
}
#flash-msg {
    background-color: #eee;
    border: 1px dotted #ff9933;
    color: #333;
    text-align: left;
}

.toolTip {
    background: #fff;
    border: 1px dotted #ff9933;
    color: #333;
    font-size: 13px;
    margin: 0 0 15px 0;}
    .toolTip .second {
        padding: 5px;
    }

/**************************************************************************************/

    #profile-pic .name {
        background: -moz-linear-gradient(-90deg,#009900,#005500) #009900;
        }
    #profile-pic .type {
        background: -moz-linear-gradient(-90deg,#009900,#005500) #009900;
        }

.profile-group {
     background: -moz-linear-gradient(-90deg,#009900,#005500) #009900;
        }
    .profile-group:hover {
        background: -moz-linear-gradient(-90deg,#009900,#005500) #009900;
        }
.profile-box .second .header {
      border-bottom: 1px solid #7b7b7b;
      color: #005500;
      font-size: 13px;
      font-weight: bold;
      padding-bottom: 3px;
      margin-bottom: 6px;
      text-align: left;
    }
.profile-box .second ul li{
      color: #000;
      margin-bottom: 3px;}

.profile-box .second ul li a{
      color: #000;
     }

.profile-box .second ul li a:hover {
      color: #29957d !important; /*color: #fff !important;
      display: block;
      background: -moz-linear-gradient(-90deg,#f93,#f9b911) #f93;*/}

#body-list a {
    color: #000;
}
#body-list a:hover {
    color: #fff;
    text-decoration: none !important;
}

#body-list tr:hover {
    background: -moz-linear-gradient(-90deg,#f93,#f9b911) #f93;
}

/**********************************************************/

.project-top{
    border: solid 1px #000;
    padding-left: 6px;
    padding-top: 6px;
}

.activityInstance-top{
    border: solid 1px #bbb;
    padding-left: 6px;
    padding-top: 6px;
}

/********************************************************/
.tabGreen {
    background: -moz-linear-gradient(-90deg,#CD0041,#AB0020);
    background: -webkit-gradient(linear, left top, left bottom, from(#CD0041), to(#AB0020));
     }
    .tabGreen h1 {
        color: #fff;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .tabGreen .second {
        padding: 4px 5px;
    }
.tabGrey {
    background: -moz-linear-gradient(-90deg,#eee,#999);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
     }
    .tabGrey h1 {
        color: #000;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .tabGrey .second {
        padding: 4px 5px;
    }

.tabGrey, .tabGreen {
   width: 200px;
   /*position: absolute;*/
   float: left;
}

.tabGrey a,  .tabGrey a:hover{
    color: #000;
    text-decoration: none;

}
.tabGrey:hover{
    background: -moz-linear-gradient(90deg,#8adc2e,#9ede20);
    background: -webkit-gradient(linear, left top, left bottom, from(#8adc2e), to(#9ede20));
}
.tabGrey a:hover{
    color: #fff;
    text-decoration: none;
}

.clearFloat{
    clear:both;
}


/*************************************************************/

.long-field{
    width: 330px;
    height: 80px;
}



/* TAGS */

.tags {

}

.atag {
    border: 1px solid #ccc;
    background: #eee;
    margin-right: 1px;
    color: rgb(99,129,71);
    text-decoration: none;
}

.atag img {
    top: 2px;
    position: relative;
}

.tagbuttons {
    font-size: 10px;
}


.aktiv_tab {
   color: #005500;

}
.aktiv_inhalt {
   display: block;
}
.passiv_tab {
   color: #555;
   cursor: pointer;
}
.passiv_tab:hover {
   color:  #29957d;
   cursor: pointer;
}
.passiv_inhalt {
    display: none;
}

.daybox {
    padding: 2px;
    border: 1px solid #6a6;
    background: #8c8;
    float: left;
    text-align: center;
    margin-right: 2px;
}
.daybox:hover {
    background: #6a6;
    border: 1px solid #484;
}
.daybox a {
    color: #fff;
    text-decoration: none;
}

.remoteresults {
    width: 794px;
    border: 1px solid #ccc;
    height: 208px;
    overflow-y: scroll;

}
.remoteresult {
    border-bottom: 1px solid #9c9;
    border-right: 1px solid #9c9;
    background: #beb;
    padding: 2px 4px;
    float: left;
    width: 250px;
}
.remoteresult:hover {
    background: #9c9;
    border-bottom: 1px solid #7a7;
    border-right: 1px solid #7a7;
}

#execute-result {
    margin: 10px 0 0 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
}