/* Always use SASS like selector nesting to improve readability!
   See http://sass-lang.com/ for further information */

/* ----- GLOBAL ----- */

body {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    background: #efefef;
    padding: 10px;
}

#hd {
    height: 87px;
    background: url(../../images/noe/logo.png) #fff no-repeat 15px 15px;
    position: relative;
    /*-moz-box-shadow: #888 0px -4px 8px;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px }
    #hd #info {
        text-align: right;
        float: right;
        margin: 10px 15px 0 0; }
        #hd #info a {
            font-weight: bold; }
    #hd #logo {
        width: 210px;
        height: 87px;
        float: left; }

#ft {
    font-size: 11px;
    /*background: #e2dbc8;*/
    clear: both;
    text-align: center;
    padding: 10px; }
    #ft a {
        color: #29957d;
        margin-left: 20px; }

/* ----- NAVIGATION -----*/

#nav {
    float: right;
    position: absolute;
    bottom: 0;
    right: 15px;
    font-family: Arial, 'Times New Roman', serif;}
    #nav ul {
        list-style: none;
        padding: 0; }
    #nav li {
        display: inline;
        float: left;
        margin: 0;
        background: #ABF713;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;}
        #nav li a {
            color: #333;
            font-size: 15px;
            display: block;
            float: left;
            padding: 4px;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            font-weight: bold;
            width: 131px; }
        #nav li a:hover {
            color: #fff;
            background: #9ede20;
            text-decoration: none !important;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px
            /*-moz-box-shadow: #000 0px 0 4px;*/ }

a {
    color:#29957d;
    text-decoration: none; }

/* ----- PRIVATE ----- */

#banner-private {
    height: 100px;
    background: -moz-linear-gradient(90deg,#8adc2e,#9ede20);
    background: -webkit-gradient(linear, left top, left bottom, from(#8adc2e), to(#9ede20));
    margin: 0 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #8adc2e;
}

.profile-box {
    color: #7b7b7b;
    border-radius: 5px;
    /*background-color: #dfdfdf;*/
    background: #efefef;
    border: 1px solid #ccc;
    /*-moz-box-shadow: #aaa 2px 2px 4px;*/
    margin-bottom: 15px; }
    .profile-box .second {
        padding: 5px;
        /*-moz-border-radius: 5px;*/
        /*border: 1px solid #efefef;*/ }
    .profile-box .second .header {
      border-bottom: 1px solid #7b7b7b;
      font-weight: bold;
      padding-bottom: 3px;
      text-align: center;
    }
    .profile-box .second ul {
        margin: 3px 0 0 0;
        padding: 0; }
        .profile-box .second ul li {
            list-style-type: none;
            color: #333;
            margin: 0; }
        .profile-box .second ul li a:hover {
            text-decoration: none; }

.boxGray {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #efefef;
    /*-padding: 5px;*/
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: #333;
    /*-moz-box-shadow: #aaa 2px 2px 4px;*/
    border-top: none}
    .boxGray .second {
        /*border: 1px solid #fff;*/
        padding: 5px;
        /*-moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;*/
        border-top: none};

#profile-content {
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 5px 10px 15px 10px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    color: #333; }
    #profile-content h1 {
        margin: 0 0 17px 0;
        padding: 0 0 3px 0;
        color: #555; }

/* ----- PUBLIC ----- */

#public {
    }
    #public #banner {
        height: 149px;
        /*width: 974px;*/
        background: #fff url(../../images/noe/banner.png) 15px 0 no-repeat;}
    #public #sidebar {
        margin: 0 0; }
    #public #main {
        /*margin: 20px 0;*/
        padding: 0 15px 0 0;
        /*border-right: 1px solid #CCC;*/
        line-height: 18px;
        /*width: 655px;*/ }
        #public #main h1 {
            margin-bottom: 15px; }
        #public #main h2 {
            margin: 5px 15px 5px 0;
            padding: 10px 0 5px 0;
            border-bottom: 1px solid #ccc;
            width: 100%;
            text-decoration: none; }
    #public .note {
        font-size: 10px; }
    #public .highlight {
        font-weight: bold; }
    #public .login-form-button {
        margin-top: 10px;
        float: left; }
    #public #forgot-pwd {
        padding: 14px 0 0 90px;
        height: 21px;
        width: 150px;
        margin-top: 6px; }

.sidebox {
    /*-moz-border-radius: 5px;*/
    background: #f0f0f0;
    /*border: 1px solid #7b7b7b;*/
    margin: 0 0 10px 15px;
    color: #7b7b7b;
    /*-moz-box-shadow: #555 3px 3px 4px;*/ }
    .sidebox a {
        color: #29957d; }
    .sidebox a:hover {
        text-align: left;
        overflow: visible;
        font-weight: bold;
        text-decoration: none; }

/* ----- ARTICLES ----- */

#article-container { }
    #article-container h1 {
        color: #7e7e7e;
        font-size: 20px;
        margin-bottom: 30px; }
    #article-container .createArticle {
        font-weight: bold; }
    #article-container .item {
        margin: 0 0 10px 0;
        border-bottom: 1px dashed #ccc;
        padding: 0; }
        #article-container .item .links {
            text-align: right;
            padding: 0 0 5px 0;
            font-size: 11px; }
        #article-container .item .header {
            margin-right: 10px;
            font-weight: bold;
            color: #000;
            font-size: 13pt; }
            #article-container .item .header a {
                color: #444; }
                #article-container .item .header a:hover {
                    color: #29957d;
                    text-decoration: none; }
        #article-container .item .header .adminlink {
            font-weight: bold;
            color: #29957d; }
        #article-container .item a {
            /*color: #46597B;*/ /*#7e7e7e;*/
            text-decoration: none; }
            #article-container .item a:hover {
                text-decoration: underline; }
        #article-container .item .info {
            font-weight: normal;
            padding: 0 0 5px 0;
            color: #7e7e7e;
            font-size: 10px; }
        #article-container .item .info a {
            border-bottom: 1px dashed #999; }
        #article-container .item .teaser {
            padding: 5px 0 0 0;
            margin: 0;
            color: #5a5a5a; }
            #article-container .item .teaser p {
                line-height: 19px; }
            #article-container .item .content {
                margin: 0;
                padding: 5px 0 5px 0;
                line-height: 19px; }

.headerGreen {
    background: -moz-linear-gradient(-90deg,#CD0041,#AB0020);
    background: -webkit-gradient(linear, left top, left bottom, from(#CD0041), to(#AB0020));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #060; }
    .headerGreen h1 {
        color: #fff;
        margin: auto 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .headerGreen .second {
        padding: 4px 5px;
    }

.value-show-block {
	background-color: #FFF;
	border-right: 20px solid #efefef;
	border-bottom: 10px solid #efefef;
	padding: 3px;
}

.value-show {
    background: #fff;
	background-repeat:repeat-x;
	border-right: 20px solid #efefef;
	border-bottom: 10px solid #efefef;
	padding: 3px;
}

.name-show {
	border-right: 20px solid #efefef;
	padding-top: 3px;
	padding-bottom: 3px;
}
	
.overview .box {
  border: 1px solid #bdbdbd;
  margin: 0 15px 15px 0;
  text-align: center;
  float: left;
  padding: 5px;
  background: #fff;
  height: 100px;
}

.profile-box .second ul li a:hover {
      color: #29957d !important; /*color: #fff !important;
      display: block;
      background: -moz-linear-gradient(-90deg,#f93,#f9b911) #f93;*/}

#body-list tr:hover {
    background: -moz-linear-gradient(90deg,#8adc2e,#9ede20);
    background: -webkit-gradient(linear, left top, left bottom, from(#8adc2e), to(#9ede20));
}

.project-top{
    border: solid 1px #000;
    padding-left: 6px;
    padding-top: 6px;
}

.tabGreen {
    background: -moz-linear-gradient(-90deg,#CD0041,#AB0020);
    background: -webkit-gradient(linear, left top, left bottom, from(#CD0041), to(#AB0020));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #bc1131;
    margin-right: 1px; }
    .tabGreen h1 {
        color: #fff;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .tabGreen .second {
        padding: 4px 5px;
    }

.tabGrey:hover{
    background: -moz-linear-gradient(90deg,#9ede20,#8adc2e);
    background: -webkit-gradient(linear, left top, left bottom, from(#9ede20), to(#8adc2e));
    border: 1px solid #8adc2e;
    color: #fff;
}

.passiv_tab:hover {
   color:  #29957d;
   cursor: pointer;
}