[submodule "plugins/pdf-snapshot"]
	path = plugins/pdf-snapshot
	url = git@github.com:mkuhl/grails-pdfplugin.git
[submodule "plugins/obase-2.0"]
	path = plugins/obase-2.0
	url = git://github.com/openfactory/obase.git
