/* Always use SASS like selector nesting to improve readability!
   See http://sass-lang.com/ for further information */

/* Styles order

- GLOBAL
- NAVIGATION
- FONTS
- PRIVATE
- ADMIN
- PUBLIC
- REGISTER
- TABLES
- LIST and TABLE overrides
- PAGINATION
- ARTICLES
- GLOBAL ACTION LINKS
- COMMENTS

*/

/* ----- GLOBAL ----- */

body {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px; }

/* comment in to change width */
#doc4 {
    width: 1145px; }

#hd {
    height: 110px;
    background: url(../images/head.jpg) #F0F0F0 no-repeat 0 0;
    position: relative;
    -moz-box-shadow: #888 0px -4px 8px;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa; }
    #hd #info {
        text-align: right;
        float: right;
        margin: 10px; }
        #hd #info a {
            font-weight: bold; }
    #hd #logo {
        width: 210px;
        height: 110px;
        float: left; }

#bd {
    background: #f0f0f0;
    padding-top: 10px;
    -moz-box-shadow: #888 0px 4px 8px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa; }

#ft {
    background: #e1e1e1; /*#d9d9d9;*/
    clear: both;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    -moz-box-shadow: #888 0px 4px 8px;}
    #ft a {
        color: #444; }

.strong {
    font-weight: bold; }

.italic {
    font-style: italic;
    color: #555; }

.glossary {
    margin: 0 0 10px 0;
    font-size: 11px; }

.gray {
    color: #666; }

.notEnabled {
    color: #f44; }

.toolTip {
    border: 1px solid #4d4;
    -moz-border-radius: 4px;
    background: #6f6;
    -padding: 5px;
    margin-bottom: 15px;
    -moz-box-shadow: #aaa 2px 2px 4px; }
    .toolTip .second {
        padding: 5px;
        border: 1px solid #bfb;
        -moz-border-radius: 4px;
    }

.spacer {
    clear: both;
    -margin-bottom: 5px; }

/* ----- NAVIGATION -----*/

#nav {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0; }
    #nav ul {
        list-style: none;
        padding: 0; }
    #nav li {
        display: inline;
        float: left;
        margin: 0; }
        #nav li a {
            background: #FFF url(../images/menu-li.jpg) no-repeat scroll 0 0;
            color: #FFF;
            display: block;
            float: left;
            height: 40px;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 131px; }
        #nav li a:hover {
            color: #FFF;
            background: #FFF url(../images/menu-li.jpg) no-repeat scroll 0 -40px;
            text-decoration: none !important;
            -moz-box-shadow: #000 0px 0 4px; }

/* ----- FONTS ----- */

.bold {
    font-weight: bold; }

.titles {
    width: 140px; }

.titles2 {
    width: 250px; }

.bezeichnung {
    border-bottom: 1px dotted #999;
    padding: 5px 0;
    text-align: left;
    vertical-align: top; }

.separator {
    border-bottom: 1px dashed #999;
    padding-bottom: 5px; }

a {
    color:#46597B;
    text-decoration: none; }
a:hover {
    text-decoration:underline; }

h1 {
    color: #444;
    font-size: 20px;
    font-weight: normal;
    margin: 0.8em 0 0.3em;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc; }

h2 {
    padding-bottom: 10px;
    font-size: 120%;
    font-weight: bold; }

/*use for leistungsfortschritt*/
h3 {
    color: #444;
    font-size: 20px;
    font-weight: normal;
    margin: 0.8em 0 0.3em;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc; }

h1 .subheader {
    font-size: 12px;
    margin-bottom: 15px;
}

p {
    padding-bottom: 10px;
    line-height: 19px; }

ul {
    padding-bottom: 10px; }
    ul li {
        list-style-type: disc;
        margin-left: 15px;
        line-height: 19px; }

/* ----- PRIVATE ----- */

.cal_navigation ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px; }

.imgbox {
    margin-top: 15px;
    text-align: center; }
    .imgbox img {
        overflow: hidden;
        border: none;
        width: 48px;
        height: 48px; }
    .imgbox h3 {
        text-align: center;
        left: 0;
        color: #000;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 100%;
        border: 0; }
        .imgbox h3 a {
            color: #000; }
        .imgbox h3:hover {
            text-decoration: underline; }
    .imgbox .current img {
        -moz-opacity: 1.0; } /* "opacity" alone is a CSS3 keyword - not standardized yet */
    .imgbox .current h3 {
        display: block;
        font-weight: bold; }

#private {
    background:url(../images/background_private.jpg) repeat-x; }
/*
#private a {
    color: #3b59bb;
}
*/

#banner {
    height: 115px;
    background:url(../images/head-bg.jpg) no-repeat; }

#profile-pic {
    text-align: center; }
    #profile-pic #picture {
        -moz-box-shadow: #aaa 2px 2px 4px;
        border: 1px solid #888;
        border-top: none;
        border-bottom: none;
        width: 180px;
        margin: 0 auto; }
    #profile-pic .name {
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border: 1px solid #345CA4;
        -moz-box-shadow: #aaa 2px 2px 4px;
        background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6;
        color: #fff;
        width: 180px;
        margin: 0 auto; }
        #profile-pic .name .second {
            border: 1px solid #89aee9;
            padding: 2px 3px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px; }
    #profile-pic .type {
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        border: 1px solid #345CA4;
        -moz-box-shadow: #aaa 2px 2px 4px;
        background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6;
        color: #fff;
        width: 180px;
        margin: 0 auto; }
        #profile-pic .type .second {
            border: 1px solid #89aee9;
            padding: 2px 3px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px; }

.profile-group {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background: -moz-linear-gradient(-90deg,#dedede,#bcbcbc) #bcbcbc; /*#dfdfdf*/
    border: 1px solid #9a9a9a;
    border-bottom: none;
    font-weight: bold;
    margin: 15px 0 0 5px;
    -padding: 2px;
    text-align: center;
    width: 120px;
    color: #333;
    -moz-box-shadow: #aaa 2px 2px 4px;}
    .profile-group:hover {
        background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6; /*#dfdfdf*/
        border: 1px solid #55e;
        border-bottom: none;
        cursor: pointer;
        color: #fff; }
    .profile-group .second {
        padding: 2px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border: 1px solid #efefef;
        border-bottom: none; }
    .profile-group .second:hover {
        border: 1px solid #ccf;
        border-bottom: none; }

.profile-box {
    -moz-border-radius: 5px;
    /*background-color: #dfdfdf;*/
    background: -moz-linear-gradient(-90deg,#efefef,#cdcdcd) #dfdfdf;
    border: 1px solid #999;
    -padding: 5px;
    -moz-box-shadow: #aaa 2px 2px 4px; }
    .profile-box .second {
        padding: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #efefef; }
    .profile-box .second ul {
        padding: 0; }
        .profile-box .second ul li {
            list-style-type: none;
            color: #333;
            margin: 0; }
        .profile-box .second ul li a:hover {
            text-decoration: none; }

#private-content {
    padding: 10px; }

.headerBlue {
    background: -moz-linear-gradient(-90deg,#789fe8,#567ec6) #567ec6;
    /*background: #567EC6;*/
    -padding: 4px 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border: 1px solid #345CA4;
    -moz-box-shadow: #aaa 2px 2px 4px; }
    .headerBlue h1 {
        color: #fff;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .headerBlue .second {
        border: 1px solid #89aee9;
        padding: 4px 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
    }

.boxGray {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background: #dfdfdf;
    -padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #888;
    color: #333;
    -moz-box-shadow: #aaa 2px 2px 4px;
    border-top: none}
    .boxGray .second {
        border: 1px solid #fff;
        padding: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top: none}

#newHelper {
    float: right; }

.helperButton {
    border: 1px solid #f33;
    -moz-border-radius: 2px;
    background: #f66;
    font-size: 10px;
    padding: 1px;
    margin-left: 5px;
    color: #fff; }
    .helperButton:hover {
        border: 1px solid #f11;
        background: #f44;
        text-decoration: none; }

#profile-content {
    -moz-border-radius: 5px;
    background-color: #dfdfdf;
    border: 1px solid #ccc;
    padding: 5px 10px 15px 10px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    color: #333; }
#profile-content h1 {
    margin: 0 0 17px 0;
    padding: 0 0 3px 0;
    color: #555; }
#private-content input, #private-content select, #private-content textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 0 4px 0;
    border: 1px solid #999;
    padding: 2px;
}
#private-content input.errors, #private-content textarea.errors, #private-content select.errors {
    border: 1px solid #f00;
}
#private-content input:hover, #private-content select:hover, #private-content textarea:hover {
     border: 1px solid #000;
}

#profile-navigation {
    padding: 10px; }
    #profile-navigation a {
        text-decoration: none; }
        #profile-navigation a:hover {
            color: #000; /*#46597B; */
            -text-decoration: underline; }

    #profile-navigation .profile-profil {
        background: url(../images/icons/icon_profile.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-nachricht {
        background: url(../images/icons/icon_mail.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-telefon {
        background: url(../images/icons/icon_handy.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-leistung {
        background: url(../images/icons/icon_star.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-netzwerk {
        background: url(../images/icons/icon_contact.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-galerie {
        background: url(../images/icons/icon_galerie.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-activities {
        background: url(../images/icons/icon_activities.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-calendar {
        background: url(../images/icons/icon_calendar.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-location {
        background: url(../images/icons/icon_location.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .profile-template, .profile-template {
        background: url(../images/icons/icon_template.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .icon-person {
        background: url(../images/icons/icon_person.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .icon-edit {
        background: url(../images/icons/icon_edit.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .icon-help {
        background: url(../images/icons/icon_help.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .icon-admin {
        background: url(../images/icons/icon_admin.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .icon-news {
        background: url(../images/icons/icon_news.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
    #profile-navigation .icon-document {
        background: url(../images/icons/icon_document.png) no-repeat;
        padding-left: 20px;
        background-position: 0 50%; }
/* ----- ADMIN ----- */

#adminArea {
    text-align: left; }

#adminArea h1 {
    background: #f92;
    border-bottom: 1px solid #000;
    padding: 10px;
    margin: 0;
    color: #333; }

#adminArea h3 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #ee0;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    font-size: 13px; }

#adminArea h2, #adminArea ul, #adminArea p {
    padding: 10px; }

#adminArea .table {
    margin: 10px; }
    #adminArea .table td {
        padding: 4px;
    }

#adminArea .adminButton {
    color: #f70; }

#admin-content {
    padding: 5px 10px 10px 10px;
    margin: 10px;
    color: #333; }
    #admin-content h1 {
        margin: 0;
        padding: 0 0 15px 0;
        color: #555; }

#admin-navigation {
    padding: 10px; }

.imgmenu {
    background-position: right;
    height: 115px;
    float: right;
    margin-right: 0;
    list-style-type: none; }
    .imgmenu li {
        float: left;
        padding: 0 52px 0 0; }
        .imgmenu li a {
            color: #222;
            text-decoration: none; }
            .imgmenu li a:hover {
                color: #aaa; }

/* ----- PUBLIC ----- */

#public {
    background: url(../images/background_public.jpg) repeat-x; }
    #public #banner {
        height: 336px;
        width: 974px;
        background: url(../images/banner.jpg);}
    #public #sidebar {
        margin: 20px 0; }
    #public #main {
        /*margin: 20px 0;*/
        padding: 0 20px;
        border-right: 1px solid #CCC;
        line-height: 18px;
        /*width: 655px;*/ }
        #public #main h1 {
            margin-bottom: 15px; }
        #public #main h2 {
            margin: 5px 15px 5px 0;
            padding: 10px 0 5px 0;
            border-bottom: 1px solid #ccc;
            width: 100%;
            text-decoration: none; }
    #public .note {
        font-size: 10px; }
    #public .highlight {
        font-weight: bold; }
    #public .login-form-button {
        margin-top: 10px;
        float: left; }
    #public #forgot-pwd {
        padding: 14px 0 0 90px;
        height: 21px;
        width: 150px; }

.sidebox {
    -moz-border-radius: 5px;
    background: #708dc2;
    border: 1px solid #607cb1;
    margin: 0 15px 20px 0;
    color: #fff;
    -moz-box-shadow: #555 3px 3px 4px; }
    .sidebox a {
        color: #fff; }
    .sidebox a:hover {
        text-align: left;
        overflow: visible;
        font-weight: bold;
        text-decoration: none; }

.innersidebox {
    /*background: url(../images/gradient_1.png) repeat-x bottom;*/
    background: -moz-linear-gradient(-90deg,#708dc2,#405a90);
    border: 1px solid #708dc2;
    -moz-border-radius: 5px;
    padding: 5px 10px 10px 10px; }

.sideboxheader {
    border-bottom: 1px solid #8faad9;
    font-weight: bold;
    padding-bottom: 3px;
    text-align: center; }

.sideboxcontent {
    padding-top: 10px;
    border-top: 1px solid #5c77a6; }
    .sideboxcontent ul {
        margin-left: 10px; }
        .sideboxcontent ul li {
            margin: 0 0 3px 5px;
            list-style-type: disc; }

.quoter {
    margin: 7px 0 0 0;
    padding: 0;
    text-align: right; }

.quote {
    font-style: italic;
    line-height: 18px; }

/* ----- REGISTER ----- */

#registerbox table td {
    padding: 5px;
    text-align: right;
    width: 150px; }

/* ----- TABLES ----- */

.listing {
    width: 100%;
}
.listing tr {
    border-bottom: 1px dotted #999;
}
.listing td {
    padding: 4px;
}
.listing td.name {
    width: 125px;
    font-weight: bold;
}
.row-educator {
    background: #ececff; }

.row-client {
    background: #ffb2b2; }

.row-facility {
    background: #b2ffb2; }

.row-operator {
    background: #ffffb2; }

.row-user {
    background: #ffecc1; }

.row-parent {
    background: #cb89c9; }

.row-pate {
    background: #cb89c9; }

.row-partner {
    background: #cb89c9; }

.odd {
    background: #f4f4f4; }

.even {
    background: #fff; }

/* ----- LIST and TABLE overrides ----- */

table .label {
    height: 25px;
    padding-right: 10px; }

label {
    padding-right: 5px;
}
#body-list {
    padding: 0; /*px 10px 10px 10px;*/
    /*background: #f0f0f0;*/ }
    #body-list table {
        border: 1px solid #bbb;
        width: 100%; }
        #body-list table tr a {
            color: #333;
            text-decoration: none; }
            #body-list table tr a:hover {
                color: #333;
                text-decoration: underline; }
        #body-list table tbody a {
            color: #03f; }
    #body-list td {
        padding: 5px; }
        #body-list td .col {
            width: 200px; }
        #body-list td .col2 {
            width: 150px; }
        #body-list td .col4 {
            width: 150px; }
    #body-list .list th, .list td {
        border-left: 1px solid #ddd; }
    #body-list th {
        background: #Fd4 /*url(../images/skin/shadow.jpg) repeat scroll 0 0*/;
        color: #333;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 17px;
        padding: 2px 6px; }
        #body-list th a:link, #body-list th a:visited, #body-list th a:hover {
            color: #333;
            display: block;
            font-size: 11px;
            text-decoration: none;
            width: 100%; }
        #body-list th.asc a, th.desc a {
            background-position: right;
            background-repeat: no-repeat; }
        #body-list th.asc a {
            background-image: url(../images/skin/sorted_asc.gif); }
        #body-list th.desc a {
            background-image: url(../images/skin/sorted_desc.gif); }
    #body-list tr {
        font-size: 11px;
            border: 1px solid #999;}
    #body-list .odd {
        background: #eef; }
    #body-list #select-box {
        margin-bottom: 10px; }
    #body-list a:link, #body-list a:visited {
        color: #46597B;
    }

table #profile-list tr {
    border: 1px solid #ccc; }

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
    margin-top: 5px;
}
    .paginateButtons a {
        background: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc #aaa #aaa #ccc;
        color: #666;
        margin: 0 3px;
        padding: 2px 6px; }
    .paginateButtons span {
        padding: 2px 3px; }

/* ----- ARTICLES ----- */

#createArticle {
    margin: 10px 0; }

#article-container { }
    #article-container h1 {
        color: #7e7e7e;
        font-size: 22px;
        margin-bottom: 30px; }
    #article-container .createArticle {
        font-weight: bold;
        color: #a00; }
    #article-container .item {
        margin: 0 0 10px 0;
        border-bottom: 1px dashed #ccc;
        padding: 0; }
        #article-container .item .links {
            text-align: right;
            padding: 5px 0 5px 0;
            font-size: 11px; }
        #article-container .item .header {
            margin-right: 10px;
            font-weight: bold;
            color: #000;
            font-size: 13pt; }
            #article-container .item .header a {
                color: #444; }
                #article-container .item .header a:hover {
                    color: #339;
                    text-decoration: none; }
        #article-container .item .header .adminlink {
            font-weight: bold;
            color: #44a; }
        #article-container .item a {
            color: #46597B; /*#7e7e7e;*/
            text-decoration: none; }
            #article-container .item a:hover {
                text-decoration: underline; }
        #article-container .item .info {
            font-weight: normal;
            padding: 0 0 5px 0;
            color: #7e7e7e;
            font-size: 10px; }
        #article-container .item .info a {
            border-bottom: 1px dashed #999; }
        #article-container .item .teaser {
            padding: 15px 0 0 0;
            margin: 0;
            color: #5a5a5a; }
            #article-container .item .teaser p {
                line-height: 19px; }
            #article-container .item .content {
                margin: 0;
                padding: 5px 0 10px 0;
                line-height: 19px; }

/* ----- GLOBAL ACTION LINKS ----- */

.adminlink {
    font-weight: bold;
    color: #a00; }

.actionlinks { }
    .actionlinks div.userlinks {
        margin: 0 0 10px 0; }
    .actionlinks a {
        color: #fff;
        font-size: 10px;
        text-decoration: none; }
        .actionlinks a:hover {
            text-decoration: underline; }

div.actionlinks div.userlinks a {
    color: green;
    font-size: 1em; }
    div.actionlinks div.userlinks a:hover {
        text-decoration: underline }

.actionlink {
    margin-bottom: 10px;
}

.buttonBlue {
    border: 1px solid #345ca4;
    background: #66f;
    padding: 4px 5px;
    margin: 5px 5px 0 0;
    text-align: center;
    float: left;
    -moz-border-radius: 5px;
    color: #fff !important;
    display: block;
    height: 16px; }
    .buttonBlue:hover {
        background: #44d;
        border: 1px solid #123a82;
        text-decoration: none; }

.boxGray input[type=submit] {
    border: 1px solid #345ca4 !important;
    background: #66f;
    padding: 4px 5px !important;
    margin: 5px 5px 0 0px !important;
    text-align: center;
    float: left;
    -moz-border-radius: 5px;
    color: #fff !important;
    display: block; }
    .boxGray input[type=submit]:hover {
        background: #44d;
        border: 1px solid #123a82 !important;
        text-decoration: none;
        cursor: pointer; }

.buttonGray {
    border: 1px solid #666;
    background: #888;
    padding: 5px;
    margin: 5px 5px 0 0px;
    text-align: center;
    float: left;
    -moz-border-radius: 5px;
    color: #fff !important;
    display: block; }
    .buttonGray:hover {
        background: #666;
        border: 1px solid #444;
        text-decoration: none; }

.activity-list-head {
    padding-top: 6px;
}

#newTemplate {
    border: 1px solid #333;
    background: #666;
    padding: 5px;
    margin: 10px;
    width: 210px;
    text-align: center;
    -moz-border-radius: 5px; }
    #newTemplate a {
        color: #fff; }

.label {
    width: 125px; }

/* ----- MESSAGING -----  */

table#msg-composer td {
    padding: 3px 5px;
}

/*table#msg-composer input[type=text], table#msg-composer textarea {
    width: 100%;
}*/

#inbox-message-overview.message-rows {
  border: collapse;
  width: 100%;
}

.show-msg td.msg-title {
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
}

.show-msg td.msg-name {
  padding: 5px 0px;
}

.show-msg td.msg-content {
  border-top: 1px solid #999999;
  width: 645px;
  height: 100px;
  margin-top: 10px;
  padding-top: 10px;
}

#inbox-message-overview.message-rows tr td {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 5px;
}

.message-rows .checkbox-toggle {
  width: 35px;
}

.message-rows .checkbox-toggle input{
  margin-left: 8px;
}

.message-rows .profile-pic {
  line-height: 1px;
  width: 50px;
}

.message-rows td.name-date {
  width: 150px;
}

.message-rows .name-date .name {
  width: 170px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 20px;
}

.message-rows .name-date .date {
  color: #777777;
  display: block;
  font-size: 11px;
  padding: 1px 0 0;
}

.message-rows .name-date .state {
  color: #AA0000;
  font-size: 11px;
  padding: 1px 0 4px;
  font-weight: bold;
}

.message-rows .msg-unread {
  background-color: #d5dce0;
  /*width: 630px;*/
}

.message-rows .msg-unread .subject{
  font-weight: bold;
}

.message-rows .subject {
  margin-right: 10px;
}

.message-rows .subject .subject-text {
  padding-left: 22px;
}

.message-rows .delete-msg {
  width: 80px;
  font-size: 11px;
  text-align: right;
}

.message-rows .delete-msg a {
  margin-right: 8px;
}

.info-msg-postbox {
  padding:5px;
  color: #606060;
  text-align: left;
}

#inbox-footer {
  /*background: #eeeeee;*/
  margin-top: -1px;
  padding: 3px 0 2px;
  height: 15px;
}

.pager-container {
  float: right;
  margin: 0 0;
  text-align: right;
  width: 200px;
  padding-right: 15px;
}

.pager-container .page-list li {
  display: inline;
}

#inbox-footer .pager-container .page-list a.current,
#inbox-footer .pager-container .page-list a.current:hover {
  border-bottom:2px solid #89b7da;
  font-weight: bold;
}

/* ----- MEMBERS ----- */

.search-field {
    margin-bottom: 15px;
}

.member {
    padding: 5px 0;
    width: 280px;
    height: 50px;
    float: left;
}

.member img {
    margin-right: 10px;
}

.member .member-info .member-name {
    font-weight: bold;
}

/* ----- BUTTONS ----- */

.nav-button {
    border:1px solid #999999;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    margin:0 0 5px;
    padding:3px 5px;
    background-color: #f0f0f0;
}

.nav-button:hover {
    border:1px solid #666666;
}

.nav-button a {
    text-decoration: none;
    color: #666666;
}

.nav-button a:hover {
    text-decoration: none;
}

.buttons .button a {
  color: #000000 !important;
  text-decoration: none;
  font-size:12px;
  border:1px solid #999999;
  background-color: #f0f0f0;
  padding:3px 5px;
  cursor: pointer;
}

.buttons .button a:hover {
  color: #000000 !important;
  border:1px solid #000000;
}

.buttons {
    margin: 0;
    padding: 0;
}

/* ----- COMMENTS -----  */

.clear {
    clear: both;
    margin: 0;
    padding: 0; }

#comments-block {
    -moz-border-radius: 5px;
    background-color: #dfdfdf;
    border: 1px solid #ccc;
    padding: 5px 10px 10px 10px;
    margin: 10px;
    vertical-align: top;
    color: #333; }
    #comments-block h1 {
        margin: 0;
        padding: 0 0 15px 0;
        color: #555; }
    #comments-block .single-entry {
        border-bottom: 1px solid #efefef;
        margin-bottom: 10px; }

.community-entry-infobar {
    margin-left: 60px; }
    .community-entry-infobar .name {
        font-size: 100%;
        font-weight: bold; }
    .community-entry-infobar .info {
        margin: 5px 0;
        font-size: 88%; }
    .community-entry-infobar .time {
        float: left;
        color: #666; }
    .community-entry-infobar .actions {
        float: right; }

.user-entry {
    -moz-border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    padding: 5px;
    margin-bottom: 10px; }
    .user-entry .entry-content {
        margin-left: 60px; }

.community-entry-comments {
    margin-bottom: 15px;
    clear: both;
    padding-left: 80px; }
    .community-entry-comments .entry {
        -moz-border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #e8e6e8;
        padding: 5px; }
    .community-entry-comments .user-pic {
        float: left; }
    .community-entry-comments .user-comment {
        margin-left: 60px;
        font-size: 88%; }
        .community-entry-comments .user-comment .info {
            color: #666; }
        .community-entry-comments .user-comment .user-name {
            display: inline;
            font-weight: bold; }
        .community-entry-comments .user-comment .time {
            display: inline; }
        .community-entry-comments .user-comment .comment {
            margin-top: 10px; }

.comments-actions {
    margin-top: 10px;
    font-weight: bold;
    text-align: center; }

.leistung-item {
    padding: 5px;
    margin-top: 10px;
    border-top: 1px solid #ccc; }
    .leistung-item td {
        padding: 3px; }

.vtop {
    vertical-align: top; }

.newentry {
    padding: 0 0 3px 0;
    margin: 10px 0 0 0; }

.cleartop {
    margin: 2px 0 10px 0;
    border-top: 1px solid #ccc; }

/* ----- ERRORS AND FLASH MSGS ----- */
.error {
  font-size: 150%;
  font-weight: bold;
}

.errors {
    color: #f00;
}

#errors {
    color: #f44;
    margin-bottom: 15px; }
    #errors ul li {
        list-style-type: disc; }

.errors input, .errors textarea {
    border:1px solid #ff6b22; }

#flash-msg {  
    padding: 10px;
    text-align: center;
    color: #606060;
    margin: 10px 10px;
    border: 1px solid #ffc7ab;
    background-color:#fff4f3;
    -moz-border-radius: 3px; }

.info-msg {
    background-color:#efefef;
    border-color:#cccccc;
    border-style:solid;
    border-width:1px;
    padding: 5px 6px;
    color: #606060;
    margin-top: 10px; }

.myfriends .head, .myemployers .head, .mymemberships .head {
    font-weight: bold;
    font-size: 13px; 
    border-bottom: 1px solid #bbb; 
    padding-bottom: 2px;
    margin-bottom: 3px; }
	
/******************************************************************************************/
.headerGreen {
    background: -moz-linear-gradient(-90deg,#009900,#003300) #009900;
    /*background: #567EC6;*/
    -padding: 4px 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border: 1px solid #009900;
    -moz-box-shadow: #aaa 2px 2px 4px; }
    .headerGreen h1 {
        color: #fff;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 14px; }
    .headerGreen .second {
        border: 1px solid #009900;
        padding: 4px 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
    }
	
	.buttonGreen {
    border: 1px solid #009900;
    background: #003300;
    padding: 4px 5px;
    margin: 5px 5px 0 0;
    text-align: center;
    float: left;
    -moz-border-radius: 5px;
    color: #fff !important;
    display: block;
    height: 16px; }
    .buttonBlue:hover {
        background: #44d;
        border: 1px solid #123a82;
        text-decoration: none; }
		
.email {
	border: solid 2px #009900;
	padding: 8px 0px 4px 10px ;
	background-color:#CCC;
	-moz-border-radius:15px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.buttonGreen {
    border: 1px solid #666;
    background: #009900;
    padding: 5px;
    margin: 5px 5px 0 0px;
    text-align: center;
    float: left;
    -moz-border-radius: 5px;
    color: #fff !important;
    display: block; }
    .buttonGreen:hover {
        background: #003300;
        border: 1px solid #444;
        text-decoration: none; }
		
.boxGray input[type=submit] {

    background: #009900;
 }
    .boxGray input[type=submit]:hover {
        background: #003300;
        }
		
.name{
	margin-bottom: 3px;
}

#jobType {
	width: 175px;}
	
.felder {
	background-color: #FFF;
	border: 1px solid #000;
	padding: 2.5px;}

