/* ----- GLOBAL ----- */

body {
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:12px;
}

#doc4 {
    width: 974px;
}

#body-list {
    padding: 10px;
    background: #f0f0f0;
    overflow-x: scroll;
}

#body-default {
    padding: 10px;
    background: #f0f0f0;
}

#body-list table a {
    text-decoration: none;
    color: #009;
}

#body-list table a:hover {
    color: #000;
    text-decoration: underline;
}

#body-list #select-box {
    margin-bottom: 10px;
}

#hd {
    height: 110px;
    background: url(../images/head.jpg) #F0F0F0 no-repeat 0 0;
    position: relative;
}

#hd #info {
    text-align: right;
    float: right;
    margin: 10px;
}

#hd #logo {
    width: 210px;
    height: 110px;
    float: left;
}

#bd {
    background: #f0f0f0;
}

#ft {
    background: #d9d9d9;
    clear: both;
    text-align: center;
    padding:10px;
}

#ft a {
    color: #444;
}

/* ----- NAVIGATION -----*/

#nav {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0px;
}


#nav ul {
    list-style: none;
    padding: 0;
}

#nav li {
    display:inline;
}

#nav li {
    float:left;
    margin:0;
}

#nav li.navigation_last {}

#nav li a {
    background:#FFFFFF url(../images/menu-li.jpg) no-repeat scroll 0 0;
    color:#FFFFFF;
    display:block;
    float:left;
    height:40px;
    line-height:40px;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width:131px;
}

#nav li a:hover {
    color: #FFFFFF;
    background:#FFFFFF url(../images/menu-li.jpg) no-repeat scroll 0 -40px;
    text-decoration: none !important;
}

/* ----- FONTS ----- */

.bold {
    font-weight: bold;
}

.titles {
    width: 140px;
}

a:hover {
    color:#666600;
    text-decoration:underline !important;
}

a:link, a:visited {
    color:#222222;
    text-decoration:none;
}

h1 {
    color:#656245;
    font-size:20px;
    font-weight:normal;
    margin:0.8em 0 0.3em;
}

h2 {
    padding-bottom: 10px;
    font-size: 120%;
    font-weight: bold;
}

p {
    padding-bottom: 10px;
    line-height: 17px;
}


/* ----- BEGIN PRIVATE ----- */

.imgbox {
  float: left;
  vertical-align: middle;
  margin-top: 5px;
  text-align: center;
}

.imgbox img {
  overflow: hidden;
  padding: 5px 8px 5px 8px;
  border: none;
  width: 60px;
  height: 60px;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.imgbox.current img {
  /*border:1px solid #0f0;*/
  -moz-opacity: 1.0; /* "opacity" alone is a CSS3 keyword - not standardized yet */
  /*margin-bottom: 0;
  padding-bottom: 0;*/
  opacity: 1.0;
}

.imgbox h3 {
  text-align:center;
  color: #000;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 120%;
  font-style: normal;
  -moz-opacity: .7;
  margin-top: -5px;
  border: 0;
}

.imgbox h3 a {
    color: #000;
}

.imgbox.current h3 {
  display:block;
  font-weight: bold;
}

#private {
    background:url(../images/background_private.jpg) repeat-x;
}

#banner {
    height: 115px;
    background: #00f;
}

.profile-pic {
    text-align: center;
}

.profile-box {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#708dc2;
    border:1px solid #efefef;
    padding:5px;
}

.profile-box ul li {
    line-height:20px;
    list-style-type:none;
}

.profile-group:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#639FD0 none repeat scroll 0 0;
    border: 1px solid #417DB0;
    cursor:pointer;
}

.profile-group {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#708dc2;
    border-color:#efefef;
    border-style:solid;
    border-width:1px;
    font-weight:bold;
    margin:10px 0 0 5px;
    padding:2px;
    text-align:center;
    width:120px;
    color: #ffffff;
}

#profile-content {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color: #708dc2;
    border:1px solid #efefef;
    padding: 5px 10px 10px 10px;
    margin: 10px;
    vertical-align:top;
    color: #ffffff;
}

#profile-content .bezeichnung {
    border-bottom:1px dotted #FFFFFF;
    padding:5px 0;
    text-align:left;
    vertical-align:top;
}

#profile-navigation {
    padding: 10px;
}

#profile-navigation a:hover {
    text-decoration:underline;
}

#profile-navigation a {
    color:#ffffff;
    text-decoration:none;
}

#profile-navigation .profile-profil {
	background:url(../images/icons/icon_profile.png) no-repeat;
	padding-left: 20px;
	background-position:0 50%;
}
#profile-navigation .profile-nachricht {
	background:url(../images/icons/icon_mail.png) no-repeat;
	padding-left: 20px;
	background-position:0 50%;
}
#profile-navigation .profile-telefon {
	background:url(../images/icons/icon_handy.png) no-repeat;
	padding-left: 20px;
	background-position:0 50%;
}
#profile-navigation .profile-leistung {
	background:url(../images/icons/icon_star.png) no-repeat;
	padding-left: 20px;
	background-position:0 50%;
}
#profile-navigation .profile-netzwerk {
	background:url(../images/icons/icon_contact.png) no-repeat;
	padding-left: 20px;
	background-position:0 50%;
}
#profile-navigation .profile-galerie {
	background:url(../images/icons/icon_galerie.png) no-repeat;
	padding-left: 20px;
	background-position:0 50%;
}
#profile-navigation .profile-bericht {
	background:url(../images/icons/079.png) no-repeat;
	padding-left: 20px;
	background-position:0 50%;
}
.profile-box h1 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 120%;
    font-weight: bold;
    color: #fff;
}

.profile-box {
    color: #ccc;
}

.imgmenu {
    background:url(../images/head-bg.jpg) no-repeat;
    background-position: right;
    height:115px;
    list-style-type:none;
}

.imgmenu li {
    float:left;
    /*padding: 50px 20px 0 50px;*/
    padding: 0 10px 0 10px;
}

.imgmenu li a {
    color: #222222;
    text-decoration: none;
}

.imgmenu li a:hover {
    color: #aaa;
}

/* ----- BEGIN PUBLIC ----- */

#public {
    background:url(../images/background_public.jpg) repeat-x;
}

#public #banner {
    height: 336px;
    width: 974px;
    background: url(../images/banner.jpg);
}

#public #sidebar {
    margin: 20px 0;
}

#public #main {
    margin: 20px 0;
    padding: 0 20px;
    border-right:1px solid #CCCCCC;
    line-height:18px;
    width:655px;
}

#public #main h1 {
    margin-bottom: 15px;
}

#public #main h2 {
  margin: 5px 15px 5px 0;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-decoration: none;
}

#public .note {
    font-size: 10px;
}

#public .highlight {
    font-weight: bold;
}

.sidebox {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background:#708dc2 none repeat scroll 0 0;
    border:1px solid #efefef;
    margin:0 10px 20px;
    padding:10px;
    color: #ffffff;
}

.sideboxheader {
    border-bottom:1px solid #8faad9;
    font-weight:bold;
    padding-bottom:2px;
}

.sideboxcontent {
    margin-top:10px;
}

.sideboxcontent ul {
    margin-left:10px;
}

.sideboxcontent ul li {
    margin-left: 10px;
    height:20px;
    list-style-type: disc;
}

.sidebox a {
    color: #ffffff;
}

/* ----- TABLES ----- */

.odd {
    background: #f6f6f6;
}
.even {
    background: #fff;
}

#body-list table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 1500px;
}

#body-list td {
    padding: 2px 3px;
    border: 1px solid #ccc;
}

#body-list th {
    border: 1px solid #aaa;
    padding: 2px 3px;
    background: #ccc;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
    margin-top: 5px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}