root { 
    display: block;
}

#hd {
    height: 70px;
    background: #f00;
}

#nav {
    height: 40px;
    background: #0f0;
}

#banner {
    height: 345px;
    background: #00f;
}

#main {
    background: #ff0;
}

#sidebar {
    background: #0ff;
}

#ft {
    background: #f0f;
}