//@import "common"; // breaks building on build server, same applies to noe.less

// variables

@box-header-active-border: #3D7E3D;
@box-header-gradient-top: #41A241;
@box-header-gradient-bottom: #3D803D;

@imagemenu-border: #578A7B;
@imagemenu-gradient-top: #6BBBA5;
@imagemenu-gradient-bottom: #5B9484;

@brown: #808372;
@cyan: #36808E;

// mixins

.gradient (@origin: top, @start: #ffffff, @stop: #000000) {
	background-color: @start; // fallback
	background-image: -webkit-linear-gradient(@origin, @start, @stop); // Chrome, Safari
	background-image: -moz-linear-gradient(@origin, @start, @stop); // Firefox
	background-image: -o-linear-gradient(@origin, @start, @stop); // Opera
	background-image: -ms-linear-gradient(@origin, @start, @stop); // IE
	background-image: linear-gradient(@origin, @start, @stop); // W3C
}

// selectors

/* ----- GLOBAL ----- */

html {
    background: #ece9d8;
}

/* used for public layout */
#doc5 {
    width: 1024px;
    background: #fff;
    border-top: 10px solid #ece9d8;
    border-bottom: 10px solid #ece9d8;
}

#nav {
    float: right;
    position: absolute;
    bottom: 0;
    right: 15px;
    font-family: Arial, 'Times New Roman', serif;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            float: left;
            margin: 0;
            background: @imagemenu-gradient-top;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            a {
                color: #333;
                font-size: 15px;
                display: block;
                float: left;
                padding: 4px;
                text-align: center;
                text-decoration: none;
                text-transform: none;
                font-weight: bold;
                width: 131px;
                &:hover {
                    background: darken(@imagemenu-gradient-top, 10%);
                    text-decoration: none !important;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }
    }
}

.imgbox {
   margin: 10px 0 10px 10px;
   border: 1px solid darken(@imagemenu-border, 15%);
   .gradient(top, darken(@imagemenu-gradient-top, 10%), darken(@imagemenu-gradient-bottom, 10%));
   border-radius: 3px;
   box-shadow: 0 0 5px @imagemenu-border;
   display: block;
   text-align: center;
   width: 100px;
   height: 80px;
   &:hover {
       border: 1px solid darken(@imagemenu-border, 20%);
       box-shadow: 0 0 15px darken(@imagemenu-border, 10%);
   }
   img {
       overflow: hidden;
       border: none;
       width: 48px;
       height: 48px;
       display: block;
       margin: 5px auto 0 auto;
   }
   h3 {
       text-align: center;
       left: 0;
       color: #222;
       font-size: 12px;
       border: 0;
       margin-top: 5px;
   }
}

#banner-private {
    height: 100px;
    .gradient(top, @imagemenu-gradient-top, @imagemenu-gradient-bottom);
    margin: 0 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid @imagemenu-border;
}

#profile-content {
    background-color: #dfdfdf;
    border: 1px solid #ccc;
    padding: 5px 10px 15px 10px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    color: #333;
    h1 {
        margin: 0 0 17px 0;
        padding: 0 0 3px 0;
        color: #555;
    }
}

#public {
    #banner {
        height: 149px;
        background: #fff url(../images/sueninos/banner.png) 15px 0 no-repeat;
    }
    #sidebar {
        margin: 0 0;
    }
    #main {
        padding: 0 15px 0 0;
        line-height: 18px;
        h1 {
            margin-bottom: 15px;
        }
        h2 {
            margin: 5px 15px 5px 0;
            padding: 10px 0 5px 0;
            border-bottom: 1px solid #ccc;
            width: 100%;
            text-decoration: none;
        }
    }
    .note {
        font-size: 10px;
    }
    .highlight {
        font-weight: bold;
    }
    .login-form-button {
        margin-top: 10px;
        float: left;
    }
    #forgot-pwd {
        padding: 6px 0 0 0;
        height: 15px;
        width: 250px;
        margin-top: 6px;
    }
}

.overview .box {
  border: 1px solid #bdbdbd;
  margin: 0 15px 15px 0;
  text-align: center;
  float: left;
  padding: 5px;
  background: #eee;
  height: 100px;
}