//@import "common"; // breaks building on build server, same applies to noe.less

// variables

@box-header-active-border: #3D7E3D;
@box-header-gradient-top: #41A241;
@box-header-gradient-bottom: #3D803D;

@imagemenu-border: #578A7B;
@imagemenu-gradient-top: #6BBBA5;
@imagemenu-gradient-bottom: #5B9484;

@brown: #808372;
@cyan: #36808E;

/* ----- GLOBAL ----- */

html {
    background: #ece9d8;
}

/* used for public layout */
#doc5 {
    width: 1024px;
    background: #fff;
    border-top: 10px solid #ece9d8;
    border-bottom: 10px solid #ece9d8;
}

#nav {
    float: right;
    position: absolute;
    bottom: 0;
    right: 15px;
    font-family: Arial, 'Times New Roman', serif;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            float: left;
            margin: 0;
            background: @imagemenu-gradient-top;
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            a {
                color: #333;
                font-size: 15px;
                display: block;
                float: left;
                padding: 4px;
                text-align: center;
                text-decoration: none;
                text-transform: none;
                font-weight: bold;
                width: 131px;
                &:hover {
                    background: darken(@imagemenu-gradient-top, 10%);
                    text-decoration: none !important;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }
    }
}

a {
    color:@cyan;
    text-decoration: none;
}

.imgbox {
   margin: 10px 0 10px 10px;
   border: 1px solid darken(@imagemenu-border, 15%);
   background: @imagemenu-gradient-bottom; // fallback for IE
   background: -moz-linear-gradient(-90deg, darken(@imagemenu-gradient-top, 10%), darken(@imagemenu-gradient-bottom, 10%));
   background: -webkit-gradient(linear, left top, left bottom, from(darken(@imagemenu-gradient-top, 10%)), to(darken(@imagemenu-gradient-bottom, 10%)));
   border-radius: 3px;
   box-shadow: 0 0 5px @imagemenu-border;
   display: block;
   text-align: center;
   width: 100px;
   height: 80px;
   &:hover {
       border: 1px solid darken(@imagemenu-border, 20%);
       box-shadow: 0 0 15px darken(@imagemenu-border, 10%);
   }
   img {
       overflow: hidden;
       border: none;
       width: 48px;
       height: 48px;
       display: block;
       margin: 5px auto 0 auto;
   }
   h3 {
       text-align: center;
       left: 0;
       color: #222;
       font-size: 12px;
       border: 0;
       margin-top: 5px;
   }
}

#banner-private {
    height: 100px;
    background: @imagemenu-gradient-top;
    background: -moz-linear-gradient(-90deg, @imagemenu-gradient-top, @imagemenu-gradient-bottom);
    background: -webkit-gradient(linear, left top, left bottom, from(@imagemenu-gradient-top), to(@imagemenu-gradient-bottom));
    margin: 0 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid @imagemenu-border;
}

.profile-box {
    color: #7b7b7b;
    //border-radius: 5px;
    //background: #efefef;
    //border: 1px solid #cdcdcd;
    margin-bottom: 15px;
    .second {
        padding: 5px;
        table {
            width: 100%;
        }
        .header {
            border-bottom: 1px solid #ccc;
            padding-bottom: 3px;
            text-align: center;
            color: #22725B;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 6px;
        }
        .area {
            padding: 5px;
            //background: #ddd;
            color: darken(@cyan, 10%);
            font-weight: bold;
            text-transform: uppercase !important;
        }
        ul {
            padding: 0;
            li {
                color: #444;
                margin-left: 10px;
                padding: 1px 0 1px 10px;
                list-style-type: none;
                a {
                    margin-left: 10px;
                    color: #222;
                    display: block;
                    &:hover {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/*.boxGray {*/
    /*border-bottom-left-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
    /*background: #efefef;*/
    /*margin-bottom: 10px;*/
    /*border: 1px solid #cdcdcd;*/
    /*color: #333;*/
    /*.second {*/
        /*padding: 5px;*/
        /*border-top: none;*/
    /*}*/
/*}*/

#profile-content {
    background-color: #dfdfdf;
    border: 1px solid #ccc;
    padding: 5px 10px 15px 10px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    color: #333;
    h1 {
        margin: 0 0 17px 0;
        padding: 0 0 3px 0;
        color: #555;
    }
}

#public {
    #banner {
        height: 149px;
        background: #fff url(../images/sueninos/banner.png) 15px 0 no-repeat;
    }
    #sidebar {
        margin: 0 0;
    }
    #main {
        padding: 0 15px 0 0;
        line-height: 18px;
        h1 {
            margin-bottom: 15px;
        }
        h2 {
            margin: 5px 15px 5px 0;
            padding: 10px 0 5px 0;
            border-bottom: 1px solid #ccc;
            width: 100%;
            text-decoration: none;
        }
    }
    .note {
        font-size: 10px;
    }
    .highlight {
        font-weight: bold;
    }
    .login-form-button {
        margin-top: 10px;
        float: left;
    }
    #forgot-pwd {
        padding: 6px 0 0 0;
        height: 15px;
        width: 250px;
        margin-top: 6px;
    }
}

.sidebox {
    background: #f0f0f0;
    margin: 0 0 10px 15px;
    color: #7b7b7b;
    a {
        color: @cyan;
        &:hover {
            text-align: left;
            overflow: visible;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

#news-container {
    h1 {
        color: #7e7e7e;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .item {
        margin: 0 0 5px 0;
        border-bottom: 1px solid #ccc;
        padding: 0;
        .links {
            text-align: right;
            padding: 0 0 5px 0;
            font-size: 11px;
        }
        .header {
            margin-right: 10px;
            font-weight: bold;
            color: #000;
            font-size: 13pt;
            a {
                color: #444;
                &:hover {
                    color: @cyan;
                    text-decoration: none;
                }
            }
            .adminlink {
                font-weight: bold;
                color: @cyan;
            }
        }
        a {
            text-decoration: none;
            //&:hover {
            //    text-decoration: underline;
            //}
        }
        .info {
            font-weight: normal;
            padding: 0 0 5px 0;
            color: #7e7e7e;
            font-size: 10px;
            //a {
            //    border-bottom: 1px dashed #999;
            //}
        }
        .teaser {
            padding: 5px 0 0 0;
            margin: 0;
            color: #5a5a5a;
            p {
                line-height: 19px;
            }
        }
        .content {
            margin: 0;
            padding: 5px 0 5px 0;
            line-height: 19px;
        }
    }
}

//.boxHeader {
//    background: @box-header-gradient-top;
//    background: -moz-linear-gradient(-90deg, @box-header-gradient-top, @box-header-gradient-bottom);
//    background: -webkit-gradient(linear, left top, left bottom, from(@box-header-gradient-top), to(@box-header-gradient-bottom));
//    border-top-left-radius: 5px;
//    border-top-right-radius: 5px;
//    border: 1px solid @box-header-active-border;
//    h1 {
//        color: #fff;
//        margin: auto 0;
//        padding: 0;
//        border: 0;
//        font-weight: normal;
//        font-size: 14px;
//    }
//    .second {
//        padding: 4px 5px;
//    }
//}

.value-show-block {
	background-color: #FFF;
	border-right: 20px solid #fff;
	border-bottom: 10px solid #fff;
	padding: 3px;
    &:hover {
        background: lighten(@cyan, 50%);
    }
}

.value-show {
	background: #fff;
	border-right: 20px solid #fff;
	border-bottom: 5px solid #fff;
	padding: 3px;
    &:hover {
        background: lighten(@cyan, 50%);
    }
}

.name-show {
	border-right: 20px solid #fff;
	padding: 3px;
    color: #777;
}
	
.overview .box {
  border: 1px solid #bdbdbd;
  margin: 0 15px 15px 0;
  text-align: center;
  float: left;
  padding: 5px;
  background: #eee;
  height: 100px;
}

.tabGreen {
    margin: 0 0 10px 0; // auto 0;
    //padding: 0 0 5px 0; //0;
    //border-bottom: 1px solid lighten(@cyan, 40%); // none
    //background: @box-header-gradient-top;
    //background: -moz-linear-gradient(-90deg, @box-header-gradient-top, @box-header-gradient-bottom);
    //background: -webkit-gradient(linear, left top, left bottom, from(@box-header-gradient-top), to(@box-header-gradient-bottom));
    //border-top-left-radius: 5px;
    //border-top-right-radius: 5px;
    //border: 1px solid @box-header-active-border;
    //margin-right: 1px;
    h1 {
        color: darken(@cyan, 10%);
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: 20px; // 14px;
        padding: 0 0 5px 0;
        border-bottom: 1px solid lighten(@cyan, 0%);
        text-align: center;
    }
    .second {
        //padding: 4px 5px;
    }
}